You asked to modify notification settings for <%= email %> on <%= CFG.site_title %>, right? This email is being sent incase it wasn't you. If it was, please visit https://<%= CFG.hostname %>/api/users/prove?token=<%= token %> to confirm your changes.
